{% extends "base.html" %}

{% block title %}about - my blog{% endblock %}

{% block content %}
<article class="about-page">
    <h1>about me</h1>
    <div class="about-content">
        <p>
            Marlene is a Senior Developer Advocate specializing in Python and AI at Microsoft, a computer scientist, keynote speaker and explorer. She is the current chair of the Association for Computing Machinery (ACM) practitioner board, was the previous vice chair of the Python Software Foundation and led the first PyCon Africa.
        </p>
        <div class="signature">
            <span class="blink">█</span>
        </div>
    </div>
</article>
{% endblock %}
